body {
    font-family: Helvetica;
    text-align: center;
    background:  rgba(0, 255, 255, 1);
    background: linear-gradient(top, rgba(3, 3, 122, 0.5), rgba(0,0,255,1));
    background: -webkit-linear-gradient(bottom, rgba(3, 3, 122, 0.5), rgba(0,0,255,1));
    background: -moz-linear-gradient(top, rgba(3, 3, 122, 0.5), rgba(0,0,255,1));
    color: darkgrey;
}


h1 {
    margin: 10px;
    font-size: 50px;
    background: grey;
    background: radial-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,.9));
    background: -webkit-radial-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,.9));
    background: -moz-radial-gradient(left, lightgrey, darkgrey);
    color: white;
}

p {
    font-size: 27px;
    padding: 25px;
}

a {
    color: darkgrey;
}

h2 {
    padding-top: 15px;
    padding-bottom: 0;
    max-height: 25 px;
}

.navbar-custom{
    background-color: rgba(3, 3, 122, 0.5);
}

.vis {
    font-display: center;
}

.visualizations{
    padding-left: 75px;
}

.summary {
    font-display: center;
}

.visualizations img {
    height: 100px;
    width: 150px;
    background-color: rgba(255,255,225,.5);
    border-radius: 100%;
}

.left {
    float: left;
    padding: 0 10px 0 0;
    background-color: rgba(100,100,100,.5);
    border-radius: 10px;
    margin: 25px 15px 0 25px;
    width: 30%
}

.first {
    margin-top: 0;
    margin-bottom: 0;
}

.second {
    margin-top: 0;
    font-size: 25px;
}

.right {
    float: right;
    color: rgb(14, 14, 78);
    margin: 10px;
}

@media (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
}


