body {
    font-family: Helvetica;
    text-align: center;
    background:  rgba(0, 255, 255, 1);
    background: linear-gradient(top, rgba(3, 3, 122, 0.5), rgba(0,0,255,1));
    background: -webkit-linear-gradient(top, rgba(3, 3, 122, 0.5), rgba(0,0,255,1));
    background: -moz-linear-gradient(top, rgba(3, 3, 122, 0.5), rgba(0,0,255,1));
    color: darkgrey;
}

h1 {
    margin: 10px;
    font-size: 50px;
    background: grey;
    background: radial-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,.9));
    background: -webkit-radial-gradient(left, rgba(0,0,0,.5), rgba(0,0,0,.9));
    background: -moz-radial-gradient(left, lightgrey, darkgrey);
    color: white;
}

p {
    font-size: 30px;
    padding: 25px;
}

a {
    color: darkgrey;
}

.navbar-custom{
    background-color: rgba(3, 3, 122, 0.5);
}

.sidebar img {
    height: 100px;
    width: 150px;
    background-color: rgba(255,255,225,.5);
    margin: 20px;
}

@media (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
}
